*{
    font-family: 'Raleway';
    color: #FFFFFF;
}

body{
    width: 1440px;
    background: rgb(0,0,0);
}

/* banner */

.banner, .banner-content{
    
    height: 605px;

}
.banner{
    
    background: linear-gradient(0deg, rgb(0,0,0) 0%, rgba(49,168,221,0.6) 50%, rgb(0,0,0) 100%);
}
.banner-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.7);
    background-image: url(/assets/images/banner.png);
}

.logo{
    width: 268px;
    height: 268px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 50%;
}

h1{
    background: linear-gradient( #33A8DB, #1472B7);
    background-clip: text;
    color: transparent;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 900;
}

.banner-content p{
    width: 520px;
    font-size: 20px;
    text-align: center;
    margin-top: 0;
}

.banner-content button{
    width: 326px;
    height: 57px;
    background-color: #FFFFFF;
    border-width: 2px;
    border-style: solid;
    border-image: linear-gradient( #33A8DB, #1472B7) 1;
    color:#31A8DD;
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 3px;
}


/* main */

#course-content{
    background: rgb(0,0,0);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #33A8DB;
    padding: 100px 0 75px 0;
}

h2{
    color: #33A8DB;
    text-transform: uppercase;
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 7px;
}

#course-content p{
    width: 792px;
    text-align: center;
    margin-bottom: 30px;
}

.module{
    background: #252525;
    width: 535px;
    text-align: center;
    padding: 16px 0;
    margin-bottom: 25px;
    border: 1px solid #33A8DB;
    border-radius: 30px;
    box-shadow: inset 0px 5px 10px  black;
}

.module span{
    color: #33A8DB;
}

#transform-world{
    height: 363px;
    background-image: url(/assets/images/woman-code.png);
    background-size: cover;
    background-position: 000px -250px;
    border-top: 1px solid #33A8DB;
}

#transform-world p{
    text-transform: lowercase;
    width: 244px;
    font-size: 40px;
    font-weight: 900;
    text-shadow: 3px 2px #33A8DB;
    padding: 70px 0px 0px 200px;
}

#professional-challenges{
    border-top: 1px solid #33A8DB;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0 70px 0;
}

#professional-challenges h2, #professional-challenges p{
    width: 792px;
    text-align: center;
}

#professional-challenges img{
    padding: 10px 0 20px 0;
}
/* footer*/

footer{
    border-top: 1px solid #33A8DB;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0 25px 0;
}

footer a{
    text-decoration: none;
    color: #33A8DB;
    font-weight: bold;
}